h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: sienna;
    font-size: 60px;
}

nav {
    display: inline;
    align-self: center;
    font-size: 30px;
    }

h3 {
    color: cornsilk;
    font-size: 28px;
}

body {
      margin: 40px;
      background: rgb(164, 175, 164)

}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

.projects {
    display: inline-block;
  
}