body {
    margin: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.square {
    width: 33%;
    height: 33%;
    background-color: plum;
}

/* .square:nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.square:nth-child(5) {
    border: 1px solid black;
}
.square:nth-child(8) {
    border-left: 1px solid black;
    border-right: 1px solid black; */
/* }
.square:nth-child(4)
.square:nth-child(6) */

