body {
    display: flex;
    flex-direction: row;

}

main {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}
header {
    width: 10%;
}

img {
    width: 100%;
}

.top {
    background-image: url(img/main_boots.jpg);
    width: 80%;
    height: 100px;
}