/* * {
  border: 1px solid gold;
} */
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> 83cfb3396fb9c61ba9f722b4d581dd8425a7f059
=======

>>>>>>> 4748955df51154bd3e78880eeb06c119be95bf20
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Poiret+One');

html{
  background: #255C7D;
}

body {
  background: #255C7D;
  font-family: 'Poiret One', cursive;
  color: steelblue;
  background: linear-gradient( #f8B195 5%, #f67280 10%, #C06C84 20%, #6C5B7B 30%, #255C7D);
  margin: 0;
}

h1, h2 {
  font-family: 'Comfortaa', cursive;
  color: black;
}
<<<<<<< HEAD
h2, h4 {
  text-align: center;
}
=======

h2, h4 {
  text-align: center;
}

>>>>>>> 83cfb3396fb9c61ba9f722b4d581dd8425a7f059
p {
  text-align: justify;
}

nav > h1 {
  display: inline;
  font-size: 3em;
}

nav > h3 {
  display: inline-block;
  width: 15%;
  text-align: right;
  color: ghostwhite;
}

.half, .third {
<<<<<<< HEAD
 background: ghostwhite;
 display: inline-block;
 width: 49%;
 padding: 2%;
 box-sizing: border-box;
 vertical-align: top;
 margin-bottom: 16px;
=======
  background-color: ghostWhite;
  display: inline-block;
  width: 49%;
  padding: 2%;
  box-sizing: border-box;
  vertical-align: top;
  margin-bottom: 16px;
>>>>>>> 83cfb3396fb9c61ba9f722b4d581dd8425a7f059
}

.container {
  width: 90%;
  margin: auto;
}

.half > img, .third > img {
  max-width: 50%;
  float: left;
  margin-right: 5%;
<<<<<<< HEAD
}

.third {
  width: 32%;
  min-height: 280px;
}
=======
}

.third{
  width: 32%;
  min-height: 280px;
}

.container {
  width: 90%;
  margin: auto;
}

nav > h1 {
  display: inline;
  font-size: 3em;
}

<<<<<<< HEAD
>>>>>>> 83cfb3396fb9c61ba9f722b4d581dd8425a7f059
=======
nav > h3 {
  display: inline-block;
  width: 15%;
  text-align: right;
  color: ghostwhite;
}
>>>>>>> 4748955df51154bd3e78880eeb06c119be95bf20
