<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fruits Homepage!</title>
</head>
<body>
    <h1>The #1 Fruit homepage in the world!</h1>
    <ul>
        <% for (let i = 0; i < fruits.length; i++) { %>
            <li>
                <a href="fruits/<%= i %>"><%= fruits[i].name; %></a>
            </li>
        <% } %>
    </ul>
</body>
</html>