body{
    background-color: #D1CBD6;
    border: 20px;
    text-align: center;

}

header {
    background-color: whitesmoke;
    padding: 3px 10%;
    text-align: center;

    
}

img{
    width: 70%;
    margin: 0 15%;
    height: 300px;
}


h1,h2 {
    Font-family: 'Roboto', sans-serif;
    color: #3B5B7B;
    text-align: center;
}

h3 {
    color: indigo;
}

nav {
    background-color: lightgrey;
    padding: 20px;

}

.A1,.A2{
 background-color: whitesmoke;
 text-align: center;

}

ul,ol,p{
    text-align: left;
}