body {
    text-align: center;
    background-color: cornflowerblue;
    border: 30px solid purple;
    padding-bottom: 5vh;
}

.cat {
    font-family: fantasy;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

.secret {
    opacity: .5;
}

table, th, td {
    border: 1px solid gray;
}

table {
    margin: auto
}

.cabbage {
    color: chartreuse;
}

