body {
    background-color: red;
    height: calc(100vh - 150px);
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: plum;
}
header nav {
    order: 2;
}

.rando {
    text-align: center;
    height: 70px;
}

.card {
    width: 100%;
    height: calc((100vh - 150px)/2);
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:nth-child(even){
    background-color: pink;
}


#page-nav label {
    display: inline-block;
    color: #fff;
    background: #a02620;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
}

#page-nav ul li {
    display: block;
}

#page-nav ul {
    display: none;
}

#page-nav input:checked ~ ul {
    display: block;
}



@media only screen and (min-width: 768px){
    #page-nav label, #hamburger {
        display: none;
    }
    #page-nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0; 
        display: block;
    }
      #page-nav ul li {
        display: inline-block;
        padding: 10px;
        box-sizing: border-box;
    }
      #page-nav ul li a {
        color: #fff;
        text-decoration: none;
    }

    .card {
        width: 50%;
    }
    main {
        display: flex;
        flex-wrap: wrap;
    }
}